// Fonts
$roboto: "Roboto", sans-serif;

// Colors

$white: #fff;
$black: #000;
$grey: #848484;
$light-grey: #bbb;
$dark-grey: #252525;
$filter-grey: #8e8e8e;
$filter-active-bg: #f2f2f2;
$filter-active: #1c1c1c;
$filter-hover: #333;

// breakpoints
$xl: 1199px;
$l: 991px;
$m: 767px;
$s: 575px;